---
---

$header-height: 60px;
$indent: 40px;

$hangouts-green: #1BA261;
$light-shadow: 0 0 5px 0 rgba(0, 0 ,0 , 0.5);

@mixin transition($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}

@mixin transition-two($transition1, $transition2) {
	transition: $transition1, $transition2;
	-webkit-transition: $transition1, $transition2;
	-moz-transition: $transition1, $transition2;
	-o-transition: $transition1, $transition2;
}

@import "base";
@import "layout";
