<% content_for :title do %><%= t 'page_titles.all_posts_all_lang' %><% end %>

<h1 class="page-heading"><%= h t 'page_titles.all_posts_all_lang' %></h1>

<p><a href="<%= url_for "/#{locale}/posts/" %>"><%= h t 'all_posts_lang_switch.this_lang' %></a></p>

<ul class="post-list">
  <% all_articles_all_languages.each do |post| %>
  <li><article>
    <span class="post-meta"><%= partial 'layouts/post_meta', locals: {post: post} %></span>

    <h1>
      <a href="<%= url_for post %>"><%= post.title %></a>
    </h1>
  </article></li>
  <% end %>
</ul>
