---
layout: default
sitemap: true
---

<div class="home">
	
	<p class="page-description">{{ site.description }}</p>
	
	<script>
		document.write("<p><a href=\"https://github.com/FiveYellowMice/fortune-web\">动态格言</a>：<br><span name=\"fortune\"></span></p>");
	</script>
	
	<h1 class="page-heading">最新博文</h1>
	
	<ul class="post-list">
		{% for post in site.posts limit:5 %}
			<li>
				<span class="post-meta">{% include post_meta.html %}</span>

				<h2>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
				
				{% if post.headpic %}
				<p><img src="{{ site.baseurl }}/images/{{ post.date | date: "%Y/%m" }}/{{ post.headpic }}"{% if post.headpic_alt %} alt="{{ post.headpic_alt }}"{% endif %}></p>
				{% endif %}
				
				<p class="post-excerpt">{{ post.excerpt | strip_html }} <a href="{{ post.url | prepend: site.baseurl }}">继续阅读 &gt;&gt;</a></p>
			</li>
			
			<hr>
		{% endfor %}
	</ul>
	
	{% if site.posts.size > 5 %}
	<p class="see-all-posts"><a href="{{ site.baseurl }}/posts/">查看至今的所有博文</a></p>
	{% endif %}
	
	<p class="rss-subscribe">通过 <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> 关注我（<a href="{{ site.baseurl }}/posts/2015/09/usage-of-rss.html">怎么用？</a>）</p>
	
	<script src="fortunes.js"></script>
	<script src="https://cdn.rawgit.com/FiveYellowMice/fortune-web/master/fortune-web.js"></script>
	
</div>
