---
layout: default
content_type: home
sitemap: true
---

<h1 class="site-name-home">{{ site.title }}</h1>
<p class="site-description-home">{{ site.description }}</p>

<script>
	document.addEventListener("DOMContentLoaded", function() {

		$(".site-description-home").after($("<p>").attr("id", "fortune").css("display", "none"));

		$.getJSON( "https://api.github.com/gists/c0581783983b05ca28f7", function(data) {

			fortunes = JSON.parse(data.files["fortunes.json"].content);
			randomFortune = fortunes[ Math.floor( Math.random() * fortunes.length ) ];
			if ( randomFortune.author === undefined ) {
				$("#fortune").html( "<a href=\"https://gist.github.com/FiveYellowMice/c0581783983b05ca28f7\">动态格言</a>：<br>" + randomFortune.content );
			} else {
				$("#fortune").html( "<a href=\"https://gist.github.com/FiveYellowMice/c0581783983b05ca28f7\">动态格言</a>：<br>" + randomFortune.content + "<br>--" + randomFortune.author );
			}

			$("#fortune").velocity("slideDown", { duration: 400, easing: "easeOutQuad" });
		});
	});
</script>

<p class="rss-subscribe">通过 <a href="{{ site.baseurl }}/subscribe/">RSS 、电子邮件或其他方式</a>获得最及时的更新</p>

<h2 class="new-posts">最新博文</h2>

<ul class="post-list">
	{% for post in site.posts limit:5 %}
	<li><article>
		<span class="post-meta">{% include post_meta.html %}</span>

		<h1>
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h1>

		{% if post.headpic %}
		<p class="post-headpic"><img class="full-width" src="{{ site.baseurl }}/images/{{ post.date | date: "%Y/%m" }}/{{ post.headpic }}"{% if post.headpic_alt %} alt="{{ post.headpic_alt }}"{% endif %}></p>
		{% endif %}

		<p class="post-excerpt">{{ post.excerpt | strip_html }} <a href="{{ post.url | prepend: site.baseurl }}">继续阅读 &gt;&gt;</a></p>
	</article></li>
	{% endfor %}
</ul>

{% if site.posts.size > 5 %}
<p class="see-all-posts">查看至今的所有博文：<a href="{{ site.baseurl }}/tags/">按照标签</a>，<a href="{{ site.baseurl }}/posts/">全部</a></p>
{% endif %}
