---
layout: page
title: 搜索
---

<p>这是一个站内搜索页面，在此处可以搜索到本博客中的所有博文。</p>

<p>搜索功能是全靠我自己写的，所以可能不是很给力或者有 bug 。目前只能搜索标题，没法搜索内容，望在有生之年能改进。</p>

<noscript><p>请启用 JavaScript 以进行搜索。</p></noscript>

<img class="spinner" style="display: none" src="https://util.fiveyellowmice.com/emoji/unicode/1f31a.png" alt="🌚">

<script>
	document.getElementsByClassName("spinner")[0].style.display = "";
	var startTime = new Date();
</script>

<form id="search-panel" style="display: none">
	<div class="keyword-box"><input type="text" name="q" autocomplete="off" autofocus></div>
	<div class="search-button"><input type="submit" value="搜索"></div>
</form>

<p id="search-status" style="display: none"></p>

<ul class="post-list" id="results-list" style="display: none"></ul>

<style>
	#search-panel {
		max-width: 400px;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
	}
	
	.keyword-box {
		display: block;
		overflow: hidden;
		width: 100%;
	}
	.keyword-box input {
		box-sizing: border-box;
		width: 100%;
		padding: 5px;
		border: none;
		border-bottom: 2px solid #CCC;
		font-size: 16px;
		
		transition: border-color 0.2s;
	}
	.keyword-box input:focus {
		outline: none;
		border-color: #2196F3;
	}
	
	.search-button {
		display: block;
		float: right;
		width: 100px;
		margin-left: 5px;
	}
	.search-button input {
		box-sizing: border-box;
		width: 100%;
		font-size: 16px;
		color: white;
		padding: 5px;
		border: none;
		border-radius: 2px;
		background: #00B0FF;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		cursor: pointer;
		
		transition: box-shadow 0.2s, background 0.2s;
	}
	.search-button input:hover {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
	.search-button input:focus {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		outline: none;
	}
	.search-button input:active {
		background: #0091EA;
	}
	
	.spinner {
		display: block;
		width: 64px;
		height: 64px;
		margin: 100px auto;
		
		animation: face-moon-spin 1s linear infinite;
	}
	
	@-webkit-keyframes face-moon-spin {
		0% {
			-webkit-transform: rotate(0deg);
		}
		
		50% {
			-webkit-transform: rotate(180deg);
		}
		
		100% {
			-webkit-transform: rotate(360deg);
		}
	}
	
	@keyframes face-moon-spin {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		
		50% {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
	
	// Function to remove special characters from a string
	function casualize(input) {
		return input.toLowerCase().match(/[^ :;,.\-_\"\'+=<>\\\/]/g).join("");
	}
	
	// Result template
	var resultTemplate = _.template("<li><article>" +
		"<span class=\"post-meta\">" +
			"<time class=\"post-date\" datetime=\"<%- date %>\"><%- formatDate(date) %></time>" +
			"<% if (tags) { %><span class=\"post-tags\"><img class=\"tag-icon\" src=\"{{ site.baseurl }}/images/tags.svg\" alt=\"标签：\">&nbsp;" +
				"<% for (var i = 0; i < tags.length; i++) { %>" +
					"<a rel=\"tag\" href=\"{{ site.baseurl }}/tags/<%- tags[i] %>.html\"><%- tags[i] %></a>" +
					"<% if (i !== tags.length - 1) { %>, <% } %>" +
				"<% } %>" +
			"</span><% } %>" +
		"</span>" +
		"<h1><a href=\"{{ site.baseurl }}<%- url %>\"><%- title %></a></h1>" +
		"</aritlce></li>", {
			imports: {
				formatDate: function formatDate(input) {
					var date = new Date(input);
					return date.getUTCFullYear() + " 年 " +
						_.padStart(date.getUTCMonth() + 1, 2, "0") + " 月 " +
						_.padStart(date.getUTCDate(), 2, "0") + " 日 " +
						_.padStart(date.getUTCHours(), 2, "0") + " 时 " +
						_.padStart(date.getUTCMinutes(), 2, "0") + " 分";
				}
			}
		});
	
	// Get keywords from query string
	var userInput = (function(varName) {
		var parameters = location.search.substring(1).split("&");
		for ( var i = 0; i < parameters.length; i++ ) {
			var pair = parameters[i].split("=");
			if ( pair[0] === varName ) {
				return decodeURIComponent(pair[1]);
			}
		}
		return null;
	})("q");
	if (userInput) $(".keyword-box input").attr("value", userInput.replace("+", " "));
	
	if (!userInput || userInput.length === 0) {
		$(".spinner").hide();
		$("#search-panel").show();
	} else $.getJSON("data.json", function(data) {
		// Get results based on keywords
		var keywords = userInput.split("+");
		var results = [];
		data.forEach(function (post) {
			post.likelyPoint = 0;
			keywords.forEach(function (word) {
				if (casualize(post.title).search(casualize(word)) !== -1) {
					post.likelyPoint = post.likelyPoint + 1;
				}
			});
			if (post.likelyPoint > 0) results.push(post);
		});
		
		// Sort results based on likelyPoint
		results.sort(function (a, b) {
			return b.likelyPoint - a.likelyPoint;
		});
		
		results.forEach(function (item) {
			$("#results-list").append(resultTemplate(item));
		});
		
		// Show everything
		$(".spinner").hide();
		$("#search-panel").show();
		if (results.length === 0) {
			$("#search-status").html("没有找到结果。").show();
		} else {
			$("#search-status").html("找到 " + results.length + " 个结果，耗时 " + (new Date() - startTime) / 1000 + " 秒。").show();
		}
		$("#results-list").show();
	});
});
</script>
