body {
  background: #EEE;
}

.page-content {
  max-width: $wrapper-width;
  margin: $header-height + $paragraph-gap auto 0 auto;;
  padding: $content-padding * 0.75 $content-padding;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  background: white;

  .full-width {
    max-width: calc(100% + #{$content-padding * 2});
    width: calc(100% + #{$content-padding * 2});
    margin: 0 $content-padding * -1;
  }
}

.spoiler {
  display: none;
}

.spoiler-shown {
  display: block;
}

span.spoiler-shown {
  display: inline;
}

.spoiler-button {
  font-size: $font-size;
  padding: $font-size * 0.25;
  border: none;
  border-radius: $font-size * 0.25;
  color: #607D8B;
  background: transparent;
  cursor: pointer;

  @include two-transitions(background 0.2s ease-out, color 0.2s ease-out);

  &:hover, &:focus {
    color: black;
    background: rgba(0, 0, 0, 0.25);
    outline: none;
  }

  &:active {
    color: black;
    background: rgba(0, 0, 0, 0.50);
    @include transition(initial);
  }

  &:disabled {
    color: white;
    background: rgba(0, 0, 0, 0.50);
    cursor: default;
  }
}

.clearfix {
  clear: both;
}

@media (max-width: 800px) {
  .page-content {
    margin-top: $header-height-mobile + $paragraph-gap;
    padding: $content-padding-mobile * 0.75 $content-padding-mobile;

    .full-width {
      max-width: calc(100% + #{$content-padding-mobile * 2});
      width: calc(100% + #{$content-padding-mobile * 2});
      margin: 0 $content-padding-mobile * -1;
    }
  }
}
