#cookie-popup-container {
  display: none;
  position: fixed;
  z-index: 31; // 1 higher than header
  bottom: $paragraph-gap;
  width: 100%;
}

#cookie-popup {
  margin: auto;
  max-width: 600px;
  box-sizing: border-box;
  width: calc(100% - #{0.5 * $font-size});

  padding: $font-size * 0.25 $font-size * 0.5;
  border: 1px black solid;
  border-radius: 4px;
  background: #2d2d2d;
  color: white;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.30);

  text-align: justify;
}

.cookie-popup-buttons {
  text-align: right;
}

.cookie-popup-buttons>a {
  margin-left: 0.5 * $font-size;
  color: white;
  font-weight: bold;
}
