.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  
  width: 100%;
  height: $header-height;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background: $primary-color;
  color: white;
  
  @include flex-vertical-middle();
  
  a {
    &:link, &:visited {
      color: inherit;
    }
    
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.site-title {
  margin-left: ($header-height - $font-size * 1.4) * 0.5;
  margin-right: auto;
  font-size: $font-size * 1.4;
}

.site-nav {
  margin-right: ($header-height - $font-size * 2) * 0.5;
}

.nav-items a {
  margin-left: $font-size * 0.25;
  padding: $font-size * 0.25;
  border-radius: $font-size * 0.25;
  
  @include flat-button();
}

.nav-items-separator {
  display: inline-block;
  margin-left: $font-size * 0.25;
  border-left: 1px solid white;
  height: $font-size * 1.75;
  vertical-align: middle;
}

.nav-menu-button {
  display: none;
}

.menu-catcher {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 800px) {
  header {
    height: $header-height-mobile;
  }

  .site-title {
    margin-left: ($header-height-mobile - $font-size * 1.2) * 0.5;
    font-size: $font-size * 1.2;
  }

  .site-nav {
    margin-right: ($header-height-mobile - $font-size) * 0.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-button {
    display: block;
    border-radius: 100%;
    padding: 8px;
    width: 16px;
    height: 16px;

    @include flat-button();

    svg {
      display: block;
    }
  }

  .nav-items {
    display: none;
    
    width: 56px * 3;
    padding: 8px 0;
    border-radius: 2px;
    
    background: white;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
    &.nav-items-open {
      display: block;
      position: absolute;
      top: ($header-height-mobile - 32px) * 0.5;
      right: ($header-height-mobile - 32px) * 0.5;
      z-index: 20;
    }
    
    a {
      display: block;
      margin: 0;
      padding: 16px 0 0 16px;
      border-radius: 0;
      height: 48px - 16px;
      
      color: black;
      line-height: 1;
      
      &:link, &:visited {
        color: black;
      }
    }
  }

  .nav-items-separator {
    display: block;
    height: 0;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #CCC;
  }
}
