@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin two-transitions($transition1, $transition2) {
  -webkit-transition: $transition1, $transition2;
  -moz-transition: $transition1, $transition2;
  -o-transition: $transition1, $transition2;
  transition: $transition1, $transition2;
}

@mixin flex-vertical-middle() {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

@mixin flat-button() {
  @include transition(background 0.2s ease-out);
  
  &:hover, &:focus {
    background: rgba(0, 0, 0, 0.25);
  }
  
  &:active {
    background: rgba(0, 0, 0, 0.50);
    @include transition(initial);
  }
}
