:root {
  font-family: Arial, "Noto Sans", sans-serif;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1.75;

  &[lang=zh-CN] {
    font-family: Arial, "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  }
}

html, body,
p, div, img,
h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: none;
}

section, aside,
hr, p, pre, blockquote,
ol, ul, dl,
h1, h2, h3, h4, h5, h6,
figure, figcaption,
.listing-block, .quote-block, .image-block, .open-block,
.olist, .ulist, .dlist {
  margin: $paragraph-gap 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  border: none;
  height: 0;
  overflow: visible;

  margin: $paragraph-gap * 2 0;
  text-align: center;

  &::before {
    content: "...";
    color: rgba(0, 0, 0, 0.6);
    font-family: serif;
    font-size: $font-size * 2;
    letter-spacing: $font-size * 1.2;
    margin-left: $font-size * 1.2;

    position: relative;
    top: $paragraph-gap * -1.5;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: $font-size * 2.5;
}

h2 {
  font-size: $font-size * 2;
  margin-top: $paragraph-gap * 1.5;
  border-bottom: 1px solid gray;
}

h3 {
  margin-top: $paragraph-gap * 1.4;
  font-size: $font-size * 1.875;
}

h4 {
  margin-top: $paragraph-gap * 1.4;
  font-size: $font-size * 1.75;
}

h5 {
  margin-top: $paragraph-gap * 1.2;
  font-size: $font-size * 1.625;
}

h6 {
  margin-top: $paragraph-gap * 1.2;
  font-size: $font-size * 1.5;
}

// .doc-section.level-{n} are sections that wrap h{n+1}, n ∈ [1, 5]
.doc-section {
  &.level-1 {
    margin-top: $paragraph-gap * 1.5;
  }

  &.level-2, &.level-3 {
    margin-top: $paragraph-gap * 1.4;
  }

  &.level-4, &.level-5 {
    margin-top: $paragraph-gap * 1.2;
  }
}

p {
  text-align: justify;
}

a {
  &.bare {
    word-break: break-all
  }

  &:link {
    text-decoration: none;
    color: #2962FF;
  }

  &:visited {
    text-decoration: none;
    color: #303F9F;
  }

  &:hover, &:focus {
    text-decoration: underline;
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:active {
    color: #F9A825;
  }
}

.big {
  font-size: large;
}

.small {
  font-size: small;
}

.block-title {
  margin-top: $paragraph-gap;
  margin-bottom: 0;
  font-size: $font-size * 1.2;
  font-style: italic;
  color: #607D8B;
}

.block-title + * {
  margin-top: 0;
}

blockquote {
  padding: $font-size * 0.375 $font-size * 0.75;
  border-left: 4px solid #607D8B;
  background: rgba(96, 125, 139, 0.125);
}

code {
  background: rgba(0, 0, 0, 0.05);
  word-break: break-all;
  overflow-wrap: break-word;
}

pre {
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;

  padding: $font-size * 0.375 $font-size * 0.75;
  background: rgba(0, 0, 0, 0.05);
  overflow-x: auto;

  code {
    background: none;
    word-break: inherit;
  }
}

ol, ul, dd {
  margin-left: $indent;
}

.image-block {
  text-align: center;

  img {
    max-width: 100%;
  }
}

figure {
  display: block;

  &>figcaption {
    display: block;
    margin-top: 0;
    font-size: $font-size * 0.8;
    text-align: center;
  }
}

@media (max-width: 800px) {
  blockquote, ol, ul {
    margin-left: $indent-mobile;
  }
}
