$font-size: 16px;
$paragraph-gap: 20px;
$indent: 40px;
$indent-mobile: 30px;

$primary-color: #1BA261;
$header-height: 64px;
$header-height-mobile: 56px;

$wrapper-width: 700px;
$content-padding: $paragraph-gap * 1.5;
$content-padding-mobile: $paragraph-gap;
