@import "_var";
@import "_mixins";

// Navigation menu
@media (max-width: 800px) {
  .site-nav {
    position: absolute;
    top: ($header-height-mobile - 32px) * 0.5;
    right: ($header-height-mobile - 32px) * 0.5;
    margin-right: 0;
    z-index: 20;
  }

  .site-nav:hover .nav-items {
    display: block;
    margin-top: 8px;
  }

  .nav-menu-button {
    margin-left: auto;
  }
}

.noscript-hide {
  display: none;
}

.spoiler-button {
  display: none;
}

.spoiler {
  display: block;
}

span.spoiler {
  display: inline;
}

// Hide ads
.ad {
  display: none;
}
