<script>
  var _paq = _paq || [];

  document.addEventListener('DOMContentLoaded', function() {
    var trackingCookieConsent = parseInt(Cookies.get('trackingCookieConsent') || 0);
    if (trackingCookieConsent <= 0) { // not chosen or rejected
      _paq.push(['requireCookieConsent']);
    }
    if (trackingCookieConsent === 0) { // not chosen, show popup
      $('#cookie-popup-container').show();
      $('#cookie-popup-accept-button').click(function(event) {
        event.preventDefault();
        Cookies.set('trackingCookieConsent', '1', { expires: 365 });
        _paq.push(['setCookieConsentGiven']);
        $('#cookie-popup').hide();
      });
      $('#cookie-popup-reject-button').click(function(event) {
        event.preventDefault();
        Cookies.set('trackingCookieConsent', '-1', { expires: 365 });
        $('#cookie-popup').hide();
      });
    }

    var dnt = !!(navigator.doNotTrack === '1' || navigator.doNotTrack === 'yes' || window.doNotTrack === '1');
    _paq.push(['setCustomDimension', 1, dnt.toString()]);
    _paq.push(['trackPageView']);
    _paq.push(['deleteCustomDimension', 1]);
    if (!dnt) {
      _paq.push(['enableLinkTracking']);
      _paq.push(['setLinkTrackingTimer', 250]);
      _paq.push(['enableHeartBeatTimer', 30]);
    }

    var u = "//matomo.fiveyellowmice.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);

    var g = document.createElement('script');
    g.async = true;
    g.defer = true;
    g.src = u+'matomo.js';
    document.getElementsByTagName('body')[0].appendChild(g);
  });
</script>

<noscript><div><img src="//matomo.fiveyellowmice.com/matomo.php?idsite=1&amp;rec=1" style="border: 0; position: absolute; opacity: 0;" alt="" /></div></noscript>

<div id="cookie-popup-container">
  <div id="cookie-popup">
    <%= h t :'cookie_popup.caption' %>
    <br>
    <div class="cookie-popup-buttons">
      <a id="cookie-popup-accept-button" aria-role="button" href="javascript:void(0)"><%= h t :'cookie_popup.accept' %></a>
      <a id="cookie-popup-reject-button" aria-role="button" href="javascript:void(0)"><%= h t :'cookie_popup.reject' %></a>
      <a href="<%= url_for "/#{locale}/about/#privacy" %>" target="_blank"><%= h t :'cookie_popup.learn_more' %></a>
    </div>
  <div>
</div>
