<footer class="site-footer">
  <div class="footer-wrapper">

    <div class="footer-heading"><%= h t :site_title %></div>
    <div class="contact-email"><a href="mailto:<%= h config[:author_email] %>"><%= h config[:author_email] %></a></div>

    <div class="footer-cols">

      <div class="footer-col">
        <p><%= h t :site_description %></p>
      </div>

      <ul class="footer-col social-accounts">
        <li>
          <a href="https://github.com/FiveYellowMice" target="_blank">
            <img class="social-icon" src="<%= url_for "/images/social-icons/github.svg" %>" alt="GitHub"><%= h t 'footer_socials.github' %>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/FiveYellowMice" target="_blank">
            <img class="social-icon" src="<%= url_for "/images/social-icons/twitter.svg" %>" alt="Twitter"><%= h t 'footer_socials.twitter' %>
          </a>
        </li>
        <li>
          <a href="https://social.fym.moe/users/FiveYellowMice" target="_blank">
            <img class="social-icon" src="<%= url_for "/images/social-icons/mastodon.svg" %>" alt="Mastodon"><%= h t 'footer_socials.mastodon' %>
          </a>
        </li>
      </ul>

      <% if current_page.data.cc_by_sa %>
      <div class="footer-col">
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="<%= h t :creative_commons_license %>" src="<%= baseurl %>/images/by-sa.svg" width="88" height="31" /></a><br>
          <%= t :cc_by_sa_text_html %>
        </p>
      </div>
      <% end %>

    </div>

    <% if locale == :zh %>
    <p class="icp-number">下北泽 ICP 备 114514 号</p>
    <% end %>

  </div>
</footer>
