<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval' data: fiveyellowmice.com util.fiveyellowmice.com ajax.aspnetcdn.com imgproxy.fym.one gravatar.naive.im cdn.rawgit.com matomo.fiveyellowmice.com pagead2.googlesyndication.com googleads.g.doubleclick.net securepubads.g.doubleclick.net adservice.google.com partner.googleadservices.com www.googletagservices.com *.googleapis.com *.gstatic.com; connect-src *">

  <% alternative_languages_for(current_page).each do |l| %>
  <link rel="alternate" hreflang="<%= h ietf_language_tag l.options[:locale] %>" href="<%= config[:site_origin] + url_for(l) %>">
  <% end %>

  <title><%= h(current_page.data.title || yield_content(:title)) %></title>
  <meta name="description" content="<%= h(excerpt_for(current_page) || yield_content(:description) || t(:site_description)) %>">

  <meta name="theme-color" content="#1BA261">
  <link rel="shortcut icon" href="<%= url_for "/favicons/favicon.ico" %>">
  <link rel="icon" type="image/png" href="<%= url_for "/favicons/favicon-32x32.png" %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= url_for "/favicons/favicon-194x194.png" %>" sizes="194x194">
  <link rel="icon" type="image/png" href="<%= url_for "/favicons/android-chrome-192x192.png" %>" sizes="192x192">
  <link rel="icon" type="image/png" href="<%= url_for "/favicons/favicon-16x16.png" %>" sizes="16x16">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= url_for "/favicons/apple-touch-icon.png" %>">
  <link rel="manifest" href="<%= url_for "/favicons/manifest.json" %>">
  <link rel="mask-icon" href="<%= url_for "/favicons/safari-pinned-tab.svg" %>" color="#1ba261">

  <%= stylesheet_link_tag 'main' %>
  <noscript><%= stylesheet_link_tag 'noscript' %></noscript>
  <link rel="canonical" href="<%= config[:site_origin] + url_for(current_page) %>">
  <link rel="alternate" type="application/rss+xml" href="<%= config[:site_origin] + url_for("/feed.xml") %>">

  <meta property="og:title" content="<%= h(current_page.data.title || yield_content(:title)) %>">
  <meta property="og:site_name" content="<%= h t :site_title %>">
  <meta property="og:description" content="<%= h(excerpt_for(current_page) || yield_content(:description) || t(:site_description)) %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= config[:site_origin] + url_for(current_page) %>">
  <meta property="og:image" content="<%= current_page.data.headpic || (config[:site_origin] + url_for("/favicons/android-chrome-192x192.png")) %>">

  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="@FiveYellowMice">

  <% if build? %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8179885941755341",
      enable_page_level_ads: true
    });
    adsbygoogle.requestNonPersonalizedAds = 1;
    document.addEventListener('DOMContentLoaded', function() {
      _.times($('.adsbygoogle').length, function() {
        adsbygoogle.push({})
      })
    });
  </script>
  <% end %>
</head>
