<header class="site-header">
  <a class="site-title" href="<%= url_for "/#{locale}/" %>"><%= h t :site_title %></a>
  <div class="site-nav">
    <a class="nav-menu-button" href="javascript:void(0)">
      <svg width="16" height="16" viewBox="0 0 16 16">
        <circle cx="8px" cy="2px" r="2px" fill="white" />
        <circle cx="8px" cy="8px" r="2px" fill="white" />
        <circle cx="8px" cy="14px" r="2px" fill="white" />
      </svg>
    </a>
    <nav class="nav-items">
      <% if alternative_languages_for(current_page).any? %>
      <% alternative_languages_for(current_page).each do |l| %>
      <a lang="<%= ietf_language_tag l.options[:locale] %>" hreflang="<%= ietf_language_tag l.options[:locale] %>" href="<%= url_for(l) %>"><%= h t :this_language, locale: l.options[:locale] %></a>
      <% end %>
      <span class="nav-items-separator"></span>
      <% end %>
      <% {
        'home' => '/',
        'subscribe' => '/subscribe/',
        'support_author' => '/support/',
        'links' => '/links/',
        'about' => '/about/',
      }.each do |key, path| %>
      <a href="<%= url_for "/#{locale}#{path}" %>"><%= h t 'nav.' + key %></a>
      <% end %>
    </nav>
  </div>
  <script>
    document.addEventListener("touchstart", function(){}, { capture: true, passive: true });

    document.addEventListener("DOMContentLoaded", function() {
      $(".nav-menu-button").click(function() {
        $(".nav-items")
        .css("display", "none")
        .addClass("nav-items-open")
        .velocity("fadeIn", 150);

        $("header").append(
          $("<div>")
          .addClass("menu-catcher nav-menu-catcher")
          .click(closeNavMenu)
        );
      });

      function closeNavMenu(event) {
        $(event.target).remove();
        $(".nav-items")
        .velocity("fadeOut", { duration: 150, complete: function(element) {
          $(element)
          .removeClass("nav-items-open")
          .attr("style", "");
        }});
      }
    });
  </script>
</header>
