<script async src="https://fiveyellowmice.com/isso/js/embed.min.js" data-isso="https://fiveyellowmice.com/isso" data-reply-to-self="true" data-isso-require-author="true" data-isso-lang="<%= ietf_language_tag(locale).gsub('-', '_') %>" data-isso-css="false" data-isso-avatar="false" data-isso-gravatar="true" data-isso-reply-notifications="true" data-isso-id="<%= url_for(current_page) %>"></script>
<section id="isso-thread" data-title="<%= h(current_page.data.title || yield_content(:title)) %>" data-isso-id="<%= url_for(current_page) %>"></section>
<noscript><%= t :isso_comment_noscript_notice_html %></noscript>
