<%= javascript_include_tag '/js/lib/jquery.min.js' %>
<%= javascript_include_tag '/js/lib/lodash.min.js' %>
<%= javascript_include_tag '/js/lib/velocity.min.js' %>
<%= javascript_include_tag '/js/lib/js.cookie.js' %>

<script>if (!window.Promise) document.write("<script src=\"<%= url_for '/js/lib/promise-polyfill.min.js' %>\"></sc"+"ript>");</script>

<%= javascript_include_tag '/js/spoilers.js', async: true %>
