<time class="post-date" datetime="<%= post.date.xmlschema %>"><%= h post.date.strftime(t(:post_date_format)) %></time><% if post.tags %><span class="post-tags"><img class="tag-icon" src="<%= url_for "/images/tags.svg" %>" alt="<%= h t :tags_icon_caption %>"><% post.tags.each_with_index do |tag, i| %><a rel="tag" href="<%= url_for "/#{post.options[:locale]}/tags/#{tag}.html", locale: post.options[:locale] %>"><%= h t 'tag.' + tag, default: tag %></a><%= h(t(:comma)) unless i == post.tags.length - 1 %><% end %></span><% end %>
