<% if post.data.headpic %>
<% if post.data.headpic_caption %>
<figure class="post-headpic">
<% else %>
<p class="post-headpic">
<% end %>
  <img class="full-width" src="<%= url_for post.data.headpic %>" alt="<%= h post.data.headpic_alt %>">
<% if post.data.headpic_caption %>
  <figcaption><%= h post.data.headpic_caption %></figcaption>
</figure>
<% else %>
</p>
<% end %>
<% end %>
