<script type="application/ld+json">
<%= JSON.generate({
  '@context' => 'http://schema.org',
  '@type' => current_page.data.home_page ? 'Blog' : current_article ? 'BlogPosting' : 'WebPage',
  'name' => current_page.data.title || yield_content(:title),
  'headline' => current_article && current_article.title,
  'description' => excerpt_for(current_page) || yield_content(:description),
  'image' => current_page.data.home_page ? config[:site_origin] + url_for("/favicons/android-chrome-192x192.png") : current_page.data.headpic,
  'author' => current_page.data.author || t(:site_author_name),
  'inLanguage' => ietf_language_tag(locale),
  'license' => current_page.data.cc_by_sa && "http://creativecommons.org/licenses/by-sa/4.0/",
  'datePublished' => current_page.respond_to?(:date) && current_page.date.xmlschema,
  'url' => config[:site_origin] + url_for(current_page),
}.select{|k, v| v }).gsub('</script>', '</scr"+"ipt>') %>
</script>
