<p class="view-past-posts"><%= h t 'view_past_posts.caption' %><a href="<%= url_for "/#{locale}/tags/" %>"><%= h t 'view_past_posts.by_tags' %></a><%= h t :comma %><a href="<%= url_for "/#{locale}/posts/" %>"><%= h t 'view_past_posts.this_lang' %></a><%= h t :comma %><a href="<%= url_for "/#{locale}/posts/all-lang.html" %>"><%= h t 'view_past_posts.all_lang' %></a></p>
