<!DOCTYPE html>
<html lang="<%= h ietf_language_tag locale %>">
  <%= partial "layouts/head" %>
  <body>
    <%= partial "layouts/header" %>
    <div class="page-content <%= yield_content :extra_page_content_classes %>">
      <%= yield %>
      <%= partial "layouts/ads/page_end" %>
    </div>
    <%= partial 'layouts/footer' %>

    <%= partial 'layouts/js' %>
    <%= partial 'layouts/analytics' if build? %>
    <%= partial 'layouts/structured_data' %>
  </body>
</html>
