<% wrap_layout :layout do %>

<article class="blog-page">
  <div class="post-header">
    <h1 class="post-title"><%= h(current_page.data.title || yield_content(:title)) %></h1>
  </div>
  <%= yield %>
</article>

<% if current_page.data.comments %>
<%= partial "layouts/isso_comment" %>
<% end %>

<% end %>
