<% content_for :extra_page_content_classes do %>page-content-post<% end %>

<% wrap_layout :layout do %>

<article class="blog-post">
  <div class="post-header">
    <h1 class="post-title"><%= h current_article.title %></h1>
    <p class="post-meta"><%= partial "layouts/post_meta", locals: {post: current_article} %></p>
  </div>

  <%= partial "layouts/post_headpic", locals: {post: current_article} %>
  <%= postprocess_post yield, [:add_article_end_mark, :add_spoiler_noscript_notice], locale: locale %>

</article>

<% if current_article.data.attribution %>
<p class="post-attribution">
  <%= current_article.data.attribution %>
</p>
<% end %>

<p class="related-posts">
  <% if current_article.article_previous %><%= h t(:previous_post) + t(:colon) %><a href="<%= url_for current_article.article_previous %>"><%= h current_article.article_previous.title %></a><br><% end %>
  <% if current_article.article_next %><%= h t(:next_post) + t(:colon) %><a href="<%= url_for current_article.article_next %>"><%= h current_article.article_next.title %></a><% else %><%= t :no_next_post_rss_suggestion_html, link: url_for("/#{locale}/subscribe/") %><% end %>
</p>

<%= partial "layouts/view_past_posts" %>

<div class="social-share">
  <%= h t 'social_share.caption' %>
  <a href="https://www.facebook.com/sharer.php?u=<%= encode_uri_component(config[:site_origin] + url_for(current_page)) %>" target="_blank"><%= h t 'social_share.facebook' %></a>
	<a href="https://pinterest.com/pin/create/bookmarklet/?url=<%= encode_uri_component(config[:site_origin] + url_for(current_page)) %>&amp;description=<%= encode_uri_component current_article.title %>" target="_blank"><%= h t 'social_share.pinterest' %></a>
	<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<%= encode_uri_component(config[:site_origin] + url_for(current_page)) %>" target="_blank"><%= h t 'social_share.qzone' %></a>
	<a href="https://www.reddit.com/submit?url=<%= encode_uri_component(config[:site_origin] + url_for(current_page)) %>&amp;title=<%= encode_uri_component current_article.title %>" target="_blank"><%= h t 'social_share.reddit' %></a>
	<a href="https://twitter.com/share?url=<%= encode_uri_component(config[:site_origin] + url_for(current_page)) %>&amp;text=<%= encode_uri_component current_article.title %>" target="_blank"><%= h t 'social_share.twitter' %></a>
	<a href="http://service.weibo.com/share/share.php?url=<%= encode_uri_component(config[:site_origin] + url_for(current_page)) %>&amp;title=<%= encode_uri_component current_article.title %>" target="_blank"><%= h t 'social_share.weibo' %></a>
	<a href="https://util.fiveyellowmice.com/wechat-moments-share/?url=<%= encode_uri_component(config[:site_origin] + url_for(current_page)) %>&amp;title=<%= encode_uri_component current_article.title %>" target="_blank"><%= h t 'social_share.wechat_moments' %></a>
	<% if current_page.data.shortlink %><br><%= h t('social_share.shortlink') + t(:colon) %> <a rel="shortlink" href="https://fym.one/<%= current_page.data.shortlink %>">fym.one/<%= current_page.data.shortlink %></a><% end %>
</div>

<%= partial "layouts/ads/article_end" %>

<% if current_page.data.comments %>
<%= partial "layouts/isso_comment" %>
<% end %>

<% end %>
