<script>
	if ( $(window).width() > 1000 ) {
		document.write("<div id=\"float-button-container\"></div>");
	}
	
	$(document).ready(function() {
		if ($("#float-button-container")) {
			
			// Add change background button
			$("#float-button-container").prepend(
				$("<div>")
				.attr("class", "float-button")
				.html("<svg fill=\"#FFFFFF\" height=\"24\" viewBox=\"0 0 24 24\" width=\"24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z\"/></svg>")
				.css("background", "#E91E63")
				.append("<div class=\"float-tooltip\"><strong>更换背景</strong><br>将背景更换为一张随机图片，在当前会话有效。<br>注：如果你没有翻墙，可能加载速度会很慢。</div>")
				.click(function() {
					
					// Select a random image
					var candidates = ["Autumn", "BytheWater", "ColdRipple", "ColorfulCups", "DarkestHour", "EveningGlow", "FallenLeaf", "Grey", "Kite", "OneStandsOut", "PastelHills", "Path", "summer_1am"];
					var randomNumber = Math.floor(Math.random() * candidates.length);
					var imageUrl = "url(\"https://cdn.rawgit.com/KDE/plasma-workspace-wallpapers/master/" + candidates[randomNumber] +"/contents/images/1920x1080.jpg\")";
					setBackgroundImage(imageUrl);
					
					// Store URL in session storage
					if (sessionStorage) {
						sessionStorage.setItem("backgroundImageUrl", imageUrl);
					}
				})
			);
			
			// Add TC-SC convert button
			$("#float-button-container").prepend(
				$("<div>")
				.attr("class", "float-button")
				.html("<svg fill=\"#FFFFFF\" height=\"24\" viewBox=\"0 0 24 24\" width=\"24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z\"/></svg>")
				.css("background", "#2196F3")
				.append("<div class=\"float-tooltip\"><strong>翻译网页</strong><br>使用 Google 翻译将网页翻译至其他语言。</div>")
				.click(function() {
					if (document.getElementById("google_translate_element")) {
						$("#google_translate_element").toggle();
					} else {
						startGoogleTranslate();
					}
				})
			);

			// Display float buttons
			$("#float-button-container").velocity("fadeIn", { delay: 2000, duration: 500, easing: "easeOutQuad" });
			
			// Move float buttons up when see footer
			$(window).scroll(_.throttle(function() {
				if ( $(window).scrollTop() + $(window).height() > $(document).height() - $(".site-footer").outerHeight() ) {
					$("#float-button-container").velocity({ bottom: (32 + $(".site-footer").outerHeight()) + "px" }, { duration: 500, easing: "easeOutQuad" });
				} else if ( $("#float-button-container").css("bottom") !== "32px" ) {
					$("#float-button-container").velocity({ bottom: "32px" }, { duration: 500, easing: "easeOutQuad" });
				}
			}, 500));
		}
	});
      
	// Read session storage and set background
	if (sessionStorage && sessionStorage.getItem("backgroundImageUrl")) {
		setBackgroundImage(sessionStorage.getItem("backgroundImageUrl"));
	}

	function setBackgroundImage(imageUrl) {
		$("body").css({
			"background-image": imageUrl,
			"background-attachment": "fixed",
			"background-position": "center top",
			"background-repeat": "no-repeat",
			"background-size": "cover"
		});
	}
	
	// Auto start Google Translate is opened last time within a session
	if (document.cookie.match(/(?:^|; )googtrans=([^;]*)/)) startGoogleTranslate();
	
	function startGoogleTranslate() {
		$("body").append(
			$("<div>").attr("id", "google_translate_element"),
			$("<script>").attr("src", "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
		);
	}
	
	function googleTranslateElementInit() {
		new google.translate.TranslateElement({pageLanguage: 'zh-CN', autoDisplay: false, gaTrack: true, gaId: 'UA-68533985-1'}, 'google_translate_element');
		$("head").append($("<link>").attr("rel", "stylesheet").attr("href", "{{ site.baseurl }}/css/fix-gtrans-position.css"));
	}
</script>
