<script>
	if ( $(window).width() > 1000 ) {
		document.write("<div id=\"float-button-container\"></div>");
	}
	
	$(document).ready(function() {
		if ($("#float-button-container")) {
			
			// Add change background button
			$("#float-button-container").prepend(
				$("<div>")
				.attr("class", "float-button")
				.html("<svg fill=\"#FFFFFF\" height=\"24\" viewBox=\"0 0 24 24\" width=\"24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z\"/></svg>")
				.css("background", "#E91E63")
				.append("<div class=\"float-tooltip\"><strong>更换背景</strong><br>将背景更换为一张随机图片，在当前会话有效。<br>注：如果你没有翻墙，可能加载速度会很慢。</div>")
				.click(function() {
					
					// Select a random image
					var candidates = ["Autumn", "BytheWater", "ColdRipple", "ColorfulCups", "DarkestHour", "EveningGlow", "FallenLeaf", "Grey", "Kite", "OneStandsOut", "PastelHills", "Path", "summer_1am"];
					var randomNumber = Math.floor(Math.random() * candidates.length);
					var imageUrl = "url(\"https://cdn.rawgit.com/KDE/plasma-workspace-wallpapers/master/" + candidates[randomNumber] +"/contents/images/1920x1080.jpg\")";
					setBackgroundImage(imageUrl);
					
					// Store URL in session storage
					if (sessionStorage) {
						sessionStorage.setItem("backgroundImageUrl", imageUrl);
					}
				})
			);
			
			// Add send Weibo button
			$("#float-button-container").prepend(
				$("<div>")
				.attr("class", "float-button")
				.html("<svg fill=\"#FFFFFF\" height=\"24\" viewBox=\"0 0 24 24\" width=\"24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z\"/></svg>")
				.css("background", "#F9A825")
				.append("<div class=\"float-tooltip\"><strong>微博发布</strong><br>中共中央总书记习近平会使用的为数不多的键盘按钮之一。</div>")
				.click(function() {
					window.open("http://service.weibo.com/share/share.php?url=" + encodeURIComponent("{{ page.url | replace:'index.html','' | prepend: site.url }}") + "&title=" + encodeURIComponent("{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"));
				})
			);
			
			// Display float buttons
			$("#float-button-container").delay(2000).fadeIn(500);
			
			// Move float buttons up when see footer
			$(window).scroll(_.throttle(function() {
				if ( $(window).scrollTop() + $(window).height() > $(document).height() - $(".site-footer").outerHeight() ) {
					$("#float-button-container").animate({ bottom: (32 + $(".site-footer").outerHeight()) + "px" }, 500);
				} else if ( $("#float-button-container").css("bottom") !== "32px" ) {
					$("#float-button-container").animate({ bottom: "32px" }, 500);
				}
			}, 500));
		}
	});
      
	// Read session storage and set background
	if (sessionStorage && sessionStorage.getItem("backgroundImageUrl")) {
		setBackgroundImage(sessionStorage.getItem("backgroundImageUrl"));
	}
	
	function setBackgroundImage(imageUrl) {
		$("body").css({
			"background-image": imageUrl,
			"background-attachment": "fixed",
			"background-position": "center top",
			"background-repeat": "no-repeat",
			"background-size": "cover"
		});
	}
</script>
