<header>

  <div class="site-header">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="menu-wrapper trigger">
      
        <a class="menu-button">
          <svg viewBox="0 0 16 16">
              <circle cx="8px" cy="2px" r="2px" fill="white" />
              <circle cx="8px" cy="8px" r="2px" fill="white" />
              <circle cx="8px" cy="14px" r="2px" fill="white" />
          </svg>
        </a>
        
        <div class="nav-items">
          {% for page in site.data.navbar_items %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      
      </div>
      
    </nav>

  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      $(".menu-button").on("touchstart", function() {
        $(".menu-wrapper").removeClass("trigger");
        if ( $(".nav-items").is(":visible") ) {
			$(".nav-items").velocity("finish")
			.velocity("slideUp", { delay: 200, duration: 400, easing: "easeInQuad" })
			.velocity("fadeOut", { delay: 200, duration: 400, easing: "easeInQuad", queue: false });
		} else {
			$(".nav-items").velocity("finish")
			.velocity("slideDown", { delay: 200, duration: 400, easing: "easeOutQuad" })
			.velocity("fadeIn", { delay: 200, duration: 400, easing: "easeOutQuad", queue: false });
		}
      });
    });
  </script>

</header>
