<header>
	<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
	<div class="site-nav">
		<a class="nav-menu-button" href="javascript:void(0)">
			<svg width="16" height="16" viewBox="0 0 16 16">
				<circle cx="8px" cy="2px" r="2px" fill="white" />
				<circle cx="8px" cy="8px" r="2px" fill="white" />
				<circle cx="8px" cy="14px" r="2px" fill="white" />
			</svg>
		</a>
		<nav class="nav-items">
			{% for page in site.data.navbar_items %}{% if page.title %}
			<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
			{% endif %}{% endfor %}
		</nav>
	</div>
	<script>
		document.addEventListener("touchstart", function(){}, { capture: true, passive: true });

		document.addEventListener("DOMContentLoaded", function() {
			$(".nav-menu-button").click(function() {
				$(".nav-items")
				.css("display", "none")
				.addClass("nav-items-open")
				.velocity("fadeIn", 150);

				$("header").append(
					$("<div>")
					.addClass("menu-catcher nav-menu-catcher")
					.click(closeNavMenu)
				);
			});

			function closeNavMenu(event) {
				$(event.target).remove();
				$(".nav-items")
				.velocity("fadeOut", { duration: 150, complete: function(element) {
					$(element)
					.removeClass("nav-items-open")
					.attr("style", "");
				}});
			}
		});
	</script>
</header>
