<% content_for :title do %><%= t 'page_titles.all_tags' %><% end %>

<h1 class="page-heading"><%= h t 'page_titles.all_tags' %></h1>

<ul class="tag-list">
  <% blog("blog.#{locale}").tags.sort.each do |tag, posts| %>
  <li><a href="<%= url_for "/#{locale}/tags/#{tag}.html" %>"><%= h t 'tag.' + tag, default: tag %> (<%= posts.length %>)</a></li>
  <% end %>
  <% 5.times do %><li aria-hidden="true"></li><% end %>
</ul>
