<% content_for :extra_page_content_classes do %>page-content-tag<% end %>
<% content_for :title do %><%= t 'page_titles.tag', tag: t('tag.' + tagname, default: tagname) %><% end %>

<h1><img class="tag-icon" src="<%= url_for "/images/tags.svg" %>" alt="<%= h t :tag_icon_caption %>"><%= h t('tag.' + tagname, default: tagname) %></h1>

<p class="post-meta">
  <%= h t :n_posts, n: articles.length %>
</p>

<ul class="post-list">
  <% articles.each do |post| %>
  <li><article>
    <span class="post-meta"><%= partial 'layouts/post_meta', locals: {post: post} %></span>
    
    <h1>
      <a href="<%= url_for post %>"><%= post.title %></a>
    </h1>
  </aritlce></li>
  <% end %>
</ul>
