// Reset
html, body,
p, a, div, img,
h1, h2, h3, h4, h5, h6,
ul, ol, li {
	margin: 0;
	padding: 0;
	border: none;
	
	font-family: Arial, "WenQuanYi Zen Hei", "Microsoft YaHei", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 150%;
}

// Background
body {
	background: #EEEEEE;
}

// Paragraphs
p {
	margin-top: 10px;
	margin-bottom: 10px;
}

// Headers
h2 {
	font-size: 30px;
	margin-top: 20px;
	border-bottom: 1px solid gray;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 22px;
}

// Links
a {
	&:link {
		text-decoration: none;
		color: #2962FF;
	}
	
	&:visited {
		text-decoration: none;
		color: #303F9F;
	}
	
	&:hover {
		text-decoration: underline;
	}
	
	&:active {
		color: #F9A825;
	}
}

// Images
img {
	max-width: 100%;
}

// Code
code, pre {
	font-family: monospace;
	font-size: 14px;
	padding: 2px;
	
	border: 1px solid gray;
	border-radius: 3px;
	background: #F0F0F0;
	
	cursor: text;
}

pre code {
	padding: 0;
	border: none;
	background: transparent;
}

// Quote
blockquote {
	margin: 10px 0 10px $indent;
	padding-left: 5px;
	border-left: 3px solid #999999;
}

// List
ul, ol {
	margin: 10px 0 10px $indent;
}

// Horizontal reference
hr {
	color: #999999;
	background: #999999;
	border: none;
	height: 1px;
}

// Wrapper
.wrapper {
	max-width: 800px;
	margin: auto;
}

// Card
.card {
	background: white;
	box-shadow: $light-shadow;
	
	padding: 10px;
	margin-bottom: 10px;
}

// Anchor
:target:before {
	content: "";
	display: block;
	height: $header-height;
	margin: -$header-height 0 0;
}
