body {
	background: #EEE;
}

.page-content {
	max-width: $wrapper-width;
	margin: $header-height + $paragraph-gap auto 0 auto;;
	padding: $content-padding * 0.75 $content-padding;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	
	background: white;
	
	.full-width {
		max-width: calc(100% + #{$content-padding * 2});
		width: calc(100% + #{$content-padding * 2});
		margin: 0 $content-padding * -1;
	}
}

#disqus_thread {
	margin-top: $paragraph-gap;
}

@media (max-width: 800px) {
	.page-content {
		margin-top: $header-height-mobile + $paragraph-gap;
		padding: $content-padding-mobile * 0.75 $content-padding-mobile;
		
		.full-width {
			max-width: calc(100% + #{$content-padding-mobile * 2});
			width: calc(100% + #{$content-padding-mobile * 2});
			margin: 0 $content-padding-mobile * -1;
		}
	}
}
