$header-height: 64px;
$header-height-mobile: 56px;

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	
	width: 100%;
	height: $header-height;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	background: $primary-color;
	color: white;
	
	@include flex-vertical-middle();
	
	a {
		&:link, &:visited {
			color: inherit;
		}
		
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

.site-title {
	margin-left: ($header-height - $font-size * 1.4) / 2;
	font-size: $font-size * 1.4;
}

.site-nav {
	margin-left: auto;
	margin-right: ($header-height - $font-size * 2) / 2;
}

.nav-items a {
	margin-left: $font-size / 4;
	padding: $font-size / 4;
	border-radius: $font-size / 4;
	
	@include flat-button();
}

.nav-menu-button {
	display: none;
}

@media (max-width: 800px) {
	header {
		height: $header-height-mobile;
	}
	
	.site-title {
		margin-left: ($header-height-mobile - $font-size * 1.2) / 2;
		font-size: $font-size * 1.2;
	}
	
	.site-nav {
		position: absolute;
		top: ($header-height-mobile - 32px) / 2;
		right: ($header-height-mobile - 32px) / 2;
		z-index: 11;
		margin-right: 0;
		
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.nav-items {
		display: none;
	}
	
	.nav-menu-button {
		display: block;
		border-radius: 100%;
		margin-left: auto;
		padding: 8px;
		width: 16px;
		height: 16px;
		
		@include flat-button();
		
		svg {
			display: block;
		}
	}
	
	.site-nav:hover .nav-items {
		display: block;
		margin-top: 8px;
		
		width: 56px * 3;
		padding: 8px 0;
		border-radius: 2px;
		
		background: white;
		box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		
		a {
			display: block;
			margin: 0;
			padding: 16px 0 0 16px;
			border-radius: 0;
			height: 48px - 16px;
			
			color: black;
			line-height: 1;
		}
	}
}
