// Header
header .site-header {
	position: fixed;
	width: 100%;
	height: $header-height;
	
	display: flex;
	align-items: center;
	
	box-shadow: 0 -20px 20px 20px #000000;
	background: $hangouts-green;
	
	a {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.site-title, .site-nav {
		display: inline-block;
		font-size: 20px;
	}
	
	.site-title {
		margin-left: 20px;
	}
	
	.site-nav {
		float: right;
		margin-left: auto;
		margin-right: 20px;
		
		.trigger .page-link {
			margin-left: 5px;
			padding-left: 4px;
			padding-right: 4px;
			border-radius: 4px;
			
			transition: background 0.2s ease-out;
			
			&:hover {
				background: rgba(0, 0, 0, 0.25);
			}
			
			&:active {
				background: rgba(0, 0, 0, 0.50);
				transition: initial;
			}
		}
	}
}

// Footer
.social-icon {
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

// Wrapper
.wrapper {
	max-width: 800px;
	margin: auto;
}

// Card
.card {
	background: white;
	box-shadow: $light-shadow;
	
	padding: 10px;
	margin-bottom: 10px;
	
	&:first-child {
		padding-top: $header-height + 20px;
	}
}

// Post list
ul.post-list {
	list-style-type: none;
	margin: 0;
	
	li {
		padding: 10px 0 10px 0;
		border-bottom: 1px solid #CCCCCC;
		
		&:last-child {
			border-bottom: none;
		}
	}
}

.post-link {
	margin: 0;
	border: none;
	
	a {
		font-size: 30px;
	}
}

// Posts
.post-header {
	margin-bottom: 20px;
}

.post-title {
	font-size: 40px;
}	

.post-meta {
	color: #828282;
}

.page-heading {
	font-size: 30px;
}

// Tag icon
.tag-icon {
	vertical-align: middle;
}
