// Header
header .site-header {
	position: fixed;
	width: 100%;
	height: $header-height;
	
	display: flex;
	align-items: center;
	
	box-shadow: 0 -20px 20px 20px #000000;
	background: $hangouts-green;
	
	a {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.site-title, .site-nav {
		display: inline-block;
		font-size: 20px;
	}
	
	.site-title {
		margin-left: 20px;
	}
	
	.site-nav {
		float: right;
		margin-left: auto;
		margin-right: 20px;
		
		.trigger .page-link {
			margin-left: 5px;
			padding-left: 4px;
			padding-right: 4px;
			border-radius: 4px;
			
			transition: background 0.2s ease-out;
			
			&:hover {
				background: rgba(0, 0, 0, 0.25);
			}
			
			&:active {
				background: rgba(0, 0, 0, 0.50);
				transition: initial;
			}
		}
	}
}

// Page content
.page-content {
	padding-top: $header-height + 20px;
}

// Footer
.site-footer {
	width: 100%;
	height: $footer-height;
	box-shadow: $light-shadow;
	background: transparent;
	transition: background 1s ease-out;
	
	display: flex;
	align-items: center;
	
	&:hover {
		background: white;
	}
	
	* {
		display: inline-block;
		margin: 0;
	}
	
	.footer-heading {
		border: none;
		font-size: 20px;
		
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.social-buttons {
		margin-left: 10px;
		
		.social-icon {
			vertical-align: middle;
			width: 16px;
			height: 16px;
		}
		
		.username {
			display: none;
		}
	}
	
	.license {
		float: right;
		margin-left: auto;
		margin-right: 10px;
	}
	
	img {
		vertical-align: middle;
	}
}

// Post list
ul.post-list {
	list-style-type: none;
	margin: 0;
	
	li {
		padding: 10px 0 10px 0;
		border-bottom: 1px solid #CCCCCC;
		
		&:last-child {
			border-bottom: none;
		}
	}
}

.post-link {
	margin: 0;
	border: none;
	
	a {
		font-size: 30px;
	}
}

// Posts
.post-header {
	margin-bottom: 20px;
}

.post-title {
	font-size: 40px;
}

.post-meta {
	color: #828282;
}

.page-heading {
	font-size: 30px;
}

// Tag icon
.tag-icon {
	vertical-align: middle;
}
