:root {
	font-family: Arial, "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
	font-size: $font-size;
	font-weight: normal;
	line-height: 1.75;
}

html, body,
p, div, img,
h1, h2, h3, h4, h5, h6,
ul, ol, li {
	margin: 0;
	padding: 0;
	border: none;
}

p, pre, blockquote,
ol, ul, li, hr,
h1, h2, h3, h4, h5, h6,
.highlighter-rouge {
	margin: $paragraph-gap 0;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

hr {
	border: none;
	height: 0;
	overflow: visible;
	
	margin: $paragraph-gap * 2 0;
	text-align: center;
	
	&::before {
		content: "...";
		color: rgba(0, 0, 0, 0.6);
		font-family: serif;
		font-size: $font-size * 2;
		letter-spacing: $font-size * 1.2;
		margin-left: $font-size * 1.2;
		
		position: relative;
		top: $paragraph-gap * -1.5;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: $font-size * 2.5;
}

h2 {
	font-size: $font-size * 2;
	margin-top: $paragraph-gap * 1.5;
	border-bottom: 1px solid gray;
}

h3 {
	margin-top: $paragraph-gap * 1.4;
	font-size: $font-size * 1.875;
}

h4 {
	margin-top: $paragraph-gap * 1.4;
	font-size: $font-size * 1.75;
}

h5 {
	margin-top: $paragraph-gap * 1.2;
	font-size: $font-size * 1.625;
}

h6 {
	margin-top: $paragraph-gap * 1.2;
	font-size: $font-size * 1.5;
}

img {
	max-width: 100%;
}

p {
	text-align: justify;
}

a {
	&:link {
		text-decoration: none;
		color: #2962FF;
	}
	
	&:visited {
		text-decoration: none;
		color: #303F9F;
	}
	
	&:hover, &:focus {
		text-decoration: underline;
		outline: none;
	}
	
	&::-moz-focus-inner {
		border: 0;
	}
	
	&:active {
		color: #F9A825;
	}
}

blockquote {
	margin-left: $indent;
	padding: $font-size * 0.375 $font-size * 0.75;
	border-left: 4px solid #607D8B;
	background: rgba(96, 125, 139, 0.125);
}

code {
	background: rgba(0, 0, 0, 0.05);
	word-break: break-all;
}

pre {
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	
	padding: $font-size * 0.375 $font-size * 0.75;
	background: rgba(0, 0, 0, 0.05);
	overflow-x: auto;
	
	code {
		background: none;
		word-break: inherit;
	}
}

ol, ul {
	margin-left: $indent;
}

@media (max-width: 800px) {
	blockquote, ol, ul {
		margin-left: $indent-mobile;
	}
}
