---
in_sitemap: true
home_page: true
---

<% content_for :title do %><%= t :site_title %><% end %>
<% content_for :description do %><%= t :site_description %><% end %>

<h1 class="site-name-home"><%= h t :site_title %></h1>
<p class="site-description-home"><%= h t :site_description %></p>

<p class="rss-subscribe"><%= t :home_rss_suggestion_html, link: url_for("/#{locale}/subscribe/") %></p>

<p class="other-contents-by-same-author"><%= h t 'other_contents_by_same_author.caption' %><a href="https://short.fiveyellowmice.com/"><%= h t 'other_contents_by_same_author.short_articles' %></a></p>

<%= partial "layouts/view_past_posts" %>

<h2 class="new-posts"><%= h t :latest_posts %></h2>

<ul class="post-list">
  <% blog("blog.#{locale}").articles.first(5).each do |post| %>
  <li><article>
    <span class="post-meta"><%= partial "layouts/post_meta", locals: {post: post} %></span>

    <h1>
      <a href="<%= url_for post %>"><%= h post.title %></a>
    </h1>

    <%= partial "layouts/post_headpic", locals: {post: post} %>

    <p class="post-excerpt"><%= h excerpt_for post %> <a href="<%= url_for post %>"><%= h t :continue_reading_caption %></a></p>
  </article></li>
  <% end %>
</ul>

<%= partial "layouts/view_past_posts" %>
