<aside class="ad ad-article-end">
  <small><%= h t :advertisement %></small>
  <ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-client="ca-pub-8179885941755341"
    data-ad-slot="8740186109"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
</aside>
