<aside class="ad ad-page-end">
  <small><%= h t :advertisement %></small>
  <ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-8179885941755341"
    data-ad-slot="2457509472"></ins>
  <ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8179885941755341"
     data-ad-slot="7147648584"></ins>
</aside>
