.site-name-home {
  display: none;
}

.site-description-home {
  margin-top: 0;
}

.fortune-author {
  text-align: right;
  float: right;
}

.new-posts {
  border: none;
  margin-top: $paragraph-gap;
  font-size: $font-size * 1.875;
}

.post-list {
  list-style: none;
  margin-left: 0;
  
  li {
    margin-bottom: $paragraph-gap * 2;
    
    &::after {
      content: "";
      display: block;
      position: relative;
      top: $paragraph-gap;
      margin: 0 $content-padding * -1;
      
      background: #BDBDBD;
      height: 1px;
    }
    
    &:last-child {
      margin-bottom: 0;
      
      &::after {
        content: none;
      }
    }
  }
  
  h1 {
    font-size: $font-size * 2;
    margin: 0;
  }
  
  .post-headpic {
    margin-top: $font-size * 0.75;
    
    &:not(figure) {
      line-height: 0;
    }
  }
}

@media (max-width: 800px) {
  .post-list li::after {
    margin: 0 $content-padding-mobile * -1;
  }
}
