.blog-post {
  margin-bottom: 3 * $paragraph-gap;
}

.post-meta {
  color: #828282;
}

.post-tags {
  margin-left: $font-size;
}

.tag-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 0.25 * $font-size;

  position: relative;
  top: -2px;
}

.footnote-ref {
  font-variant: super;
}

.social-share {
  margin: $paragraph-gap 0;
  color: #607D8B;

  a {
    padding: $font-size * 0.25;
    border-radius: $font-size * 0.25;
    color: #607D8B;

    @include two-transitions(background 0.2s ease-out, color 0.2s ease-out);

    &:link, &:visited {
      color: #607D8B;
    }

    &:hover, &:focus {
      color: black;
      text-decoration: none;
      background: rgba(0, 0, 0, 0.25);
    }

    &:active {
      color: black;
      background: rgba(0, 0, 0, 0.50);
      @include transition(initial);
    }
  }
}

.article-end-mark {
  user-select: none;
}

@media (max-width: 800px) {
  .post-date, .post-tags {
    display: block;
    margin: 0;
  }
}
