.page-content-tag h1 .tag-icon {
  width: $font-size * 2.5;
  height: $font-size * 2.5;
  margin-right: $font-size * 2.5 * 0.25;
}

.tag-list {
  list-style-type: none;
  margin: $paragraph-gap * -0.6;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  li {
    margin: $paragraph-gap * 0.6;
    -webkit-flex: 1 0 128px;
    flex: 1 0 128px;
    box-sizing: border-box;

    text-align: center;

    &:empty {
      border: none;
      height: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
