---
title: Links
layout: page
in_sitemap: true
comments: true
---

<p>Before I created this page, I was asking: What's the point of a links page?</p>

<p>People say its to make the website linked by more website, therefore make it appear earlier in search results. But I honestly doubt this idea. If I want to appear earlier in search engines, I should write good articles, not getting more links. A good article naturally attracts others to cite and link. On the other hand, will a bad article become popular just by getting more links? Regardless of moral shenanigans, search engines aren't that dumb.</p>

<p>Apart from this, having links have another downside: it makes the webpage appear messy. It's acceptable if there are not many links, but if there are many (I'm not giving examples), it starts to feel uncomfortable to look at, and stinks like commercials, even though they're not neccesarily commercials. So for me, I feel having these links on every page is going to make them look unprofessional (not that it's professional to begin with).</p>

<p>And I'm also too lazy to request others to link me...</p>

<p>But why, you ask, do I still have this link page?<br>
Because it allows interested readers to find my blog through links elsewhere, and it also allows other people's blogs to be found through links here. <strong>Links are therefore used to link people, not pageranks.</strong></p>

<p>Then I looked at my minimalist page layout, and decided that putting links at the bottom of a webpage is a really bad idea. Creating a dedicated page for them, on the other hand, doesn't feel so bad.</p>

<p>So here are the links of website by people I know.</p>

<ul>
<% app.data.links.each do |link| %>
<li>
  <a href="<%= link.url %>"><% if link.icon %><img src="<%= url_proxy link.icon %>" alt="" width="16" height="16" style="vertical-align: middle"> <% end %><%= h link.title %></a>
</li>
<% end %>
</ul>

<p>Also, don't ask me to include your link in the comments.</p>
