---
title: 友情链接
layout: page
in_sitemap: true
comments: true
---

<p>我创建这个页面之前，首先就想问的是：友情链接能有什么用啊？</p>

<p>许多人说，这样可以让网站被更多的人链接，从而在搜索引擎的结果中能够排的更靠前。可是我完全不觉得这是个可靠的做法，要在搜索结果中靠前的话，应该是凭借文章的内容质量，而不是友情链接有多少个。好的文章自然会有许多人去链接和引用，而差的文章，难道友情链接多了就能够变得更受欢迎吗？即使不顾及道德上的问题，搜索引擎也不是傻子。</p>

<p>除此之外，友情链接还有一条坏处，那就是会让网页看起来比较乱。链接少了还好，多了（我就不举例子了）那看起来就很令人不舒服，一种满满的商业广告气息扑面而来，即使它们不一定是商业广告。所以我觉得在页面中加友情链接会降低我网站的<del>水准</del>逼格。</p>

<p>而且我比较懒……所以也很少会去主动找别人加友情链接。</p>

<p>然而为什么还是放了这个友情链接页面呢？<br>
因为这样可以让感兴趣的人通过别处的友情链接来发现我的博客的存在，同样也可以让别人的博客通过我这里的友情链接被发现。<strong>友情链接就这样被用来传递友情，而非搜索结果排名。</strong></p>

<p>然后我看着我那简洁得一尘不染的页面布局，发现在网页底下放链接是个非常坏的主意，单独创建一个页面的话，看起来就没有那么令人讨厌了。</p>

<p>那么下面就是一条条的友情链接了。</p>

<ul>
<% app.data.links.each do |link| %>
<li>
  <a href="<%= link.url %>"><% if link.icon %><img src="<%= url_proxy link.icon %>" alt="" width="16" height="16" style="vertical-align: middle"> <% end %><%= h link.title %></a>
</li>
<% end %>
</ul>

<p><u>对了，在 2016 年 12 月 23 日以后，想要加友链的话，请不要在下面评论区中请求。</u></p>
