---
layout: default
---

<div class="tag-page">
	
	<h1 class="page-heading"><img src="{{ site.baseurl }}/images/tags.svg" alt="标签：" width="42px" height="32px">&nbsp;{{ page.title }}</h1>
	<p class="post-meta">
		{{ site.tags[page.title] | size }} 篇博文
	</p>
	
	<ul class="post-list">
		{% for post in site.tags[page.title] %}
		<li>
			<span class="post-meta">{% include post_meta.html %}</span>
			
			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
		</li>
		{% endfor %}
	</ul>
	
</div>
