<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= h t :site_title, locale: :en %></title>
    <description><%= h t :site_description, locale: :en %></description>
    <link><%= config[:site_origin] + url_for('/', locale: :'') %></link>
    <atom:link href="<%= config[:site_origin] + url_for('/feed.xml', locale: :'') %>" rel="self" type="application/rss+xml" />
    <pubDate><%= config[:site_time].rfc822 %></pubDate>
    <lastBuildDate><%= config[:site_time].rfc822 %></lastBuildDate>
    <generator>Middleman v<%= h Middleman::VERSION %></generator>
    <% locales.map{|l| blog("blog.#{l}").articles }.flatten(1).sort_by(&:date).last(10).reverse.each_with_index do |post, i| %>
    <item>
      <title><%= h post.title %></title>
      <description>
        <% content_for :"post_content_#{i}" do %>
        <p><em><%= t post.data.dynamic_content ? :rss_dynamic_content_notice_html : :rss_unrecommanded_notice_html, locale: post.options[:locale], link: config[:site_origin] + url_for(post) %></em></p>
        <hr>
        <%= partial "layouts/post_headpic", locals: {post: post} %>
        <%= postprocess_post post.body, [:replace_local_urls, :add_article_end_mark, :remove_hidden_spoilers], locale: post.options[:locale] %>
        <hr>
        <% if post.data.attribution %><p><%= post.data.attribution %></p><% end %>
        <p><% if post.data.cc_by_sa %><%= t :cc_by_sa_text_html, locale: post.options[:locale] %><% end %><%= t :rss_copyright_notice_html, locale: post.options[:locale], site_link: config[:site_origin] + url_for('/', locale: :''), post_link: config[:site_origin] + url_for(post) %></p>
        <% end %>
        <%= h yield_content :"post_content_#{i}" %>
      </description>
      <pubDate><%= post.date.rfc822 %></pubDate>
      <link><%= config[:site_origin] + url_for(post) %></link>
      <guid isPermaLink="true"><%= config[:site_origin] + url_for(post) %></guid>
      <% post.tags.each do |tag| %>
      <category><%= h t 'tag.' + tag, locale: post.options[:locale], default: tag %></category>
      <% end %>
    </item>
    <% end %>
  </channel>
</rss>

