---
layout: false
in_sitemap: true
home_page: true
---

<% content_for :title do %><%= t :site_title, locale: :en %><% end %>
<% content_for :description do %><%= t :site_description, locale: :en %><% end %>

<!DOCTYPE html>
<html lang="mul">
  <%= partial 'layouts/head' %>
  <body>
    <div class="page-content">
      <h1 class="language-select-home-title"><%= h t :site_title, locale: :en %></h1>
      <ul class="language-select-home-list">
        <% locales.each do |l| %>
        <li lang="<%= ietf_language_tag l %>"><a hreflang="<%= ietf_language_tag l %>" href="<%= url_for '/', locale: l %>"><%= h t :this_language, locale: l %></a></li>
        <% end %>
      </ul>
    </div>

    <%= partial 'layouts/js' %>
    <%= partial 'layouts/analytics' if build? %>
  </body>
</html>
