<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  <% sitemap.resources.select{|p| !p.ignored? && p.data.in_sitemap }.each do |page| %>
  <url>
    <loc><%= config[:site_origin] + page.url %></loc>
    <% if page.respond_to? :date %><lastmod><%= page.date.xmlschema %></lastmod><% end %>
    <% if page.data.headpic %><image:image><image:loc><%= page.data.headpic %></image:loc></image:image><% end %>
  </url>
  <% end %>
</urlset>
